@import url('https://fonts.googleapis.com/css2?family=Space+Grotesk:wght@600;700&display=swap');

*{
    box-sizing: border-box;
    margin:0px;
    padding:0px;
}

body {
    background-color: rgb(212, 209, 203);
    color: black;
    margin-left: 100px;
    margin-right: 100px;
    font-family: 'Space Grotesk', sans-serif;
    overflow-x: hidden;
}
.header {
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
.hero {
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
      display: flex;
    align-items: center;
}

.bar {
  width: 100%;
  padding: 10px 0;
  background-color: rgb(253, 253, 4);
  position: fixed;
  text-align: center;
  bottom: 0px;
  left: 0px;
  z-index: 1;
  
}
.big-circle  {
    position: absolute;
    top: -200px;
    right: -422px;
    width: 1500px;
    height: 1500px;
    border-left: 12px solid purple;
    background-color: red;
    border-radius: 50%;
    opacity: 0.77;
    z-index: -1;
}

.small-circle {
  position: relative;
  top: 140px;
  right: -200px;
  width: 1200px;
  height: 1200px;
  border-left: 12px solid rgb(212, 212, 203);
  border-bottom: 12px solid rgb(212, 212, 203);
  background-color: rgb(0, 47, 255);
  border-radius: 50%;
  opacity: 0.77;
}

.bounce-ball {
  position: absolute;
  top: 0px;
  left: 200px;
  width: 100px;
  height: 100px;
  background-color: rgb(2, 15, 202);
  animation: bounce-out-left 1.5s 0.2s both ;
  border-radius: 50%;
  opacity: 1;
  z-index: 1;
 
}

h1 {
    text-align: center;
    height: 100px;
    font-size: 3em;
    margin-top: 30px;
    margin-bottom: 30px;
    color: #000000;
    text-transform: capitalize;
    animation: slide-in-left 0.5s 1.3s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
}


.span-container {
    display: flex;
    color: #000000;
    flex-direction: column;  
    font-size: 2em;
    margin-left: 400px;
    animation: text-pop-up 0.5s 3s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
}


#linear, #ease, #ease-in, #ease-out, #ease-in-out {
    width: 410px;
    height: 32px;
    border-radius: 6px;
    position: relative;
    animation: rect-anim 4.5s alternate-reverse infinite;
}

#linear-reverse, #ease-reverse, #ease-in-reverse, #ease-out-reverse, #ease-in-out-reverse {
    width: 410px;
    height: 35px;
    border-radius: 6px;
    position: relative;
    animation: rect-anim 4.5s alternate infinite;
}

#linear {background-color:rgb(0, 0, 0); animation-timing-function: linear; margin-bottom: 2px; animation-delay: 0s;}
#ease {background-color:rgb(255, 255, 255); animation-timing-function: ease; margin-bottom: 2px; animation-delay: -0.5s;}
#ease-in {background-color:rgb(2, 15, 202); animation-timing-function: ease-in; margin-bottom: 2px; animation-delay: -1s;}
#ease-out {background-color:rgb(252, 252, 252); animation-timing-function: ease-out; margin-bottom: 2px; animation-delay: -1.5s;}
#ease-in-out{background-color:rgb(0, 0, 0); animation-timing-function: ease-in-out; margin-bottom: 2px; animation-delay: -2s;}


#ease-reverse {background-color:rgb(255, 255, 255); animation-timing-function: ease; margin-bottom: 2px; animation-delay: -2s;}
#ease-in-out-reverse {background-color:rgb(0, 0, 0); animation-timing-function: ease-in-out; margin-bottom: 2px; animation-delay: -1.5s;}
#linear-reverse {background-color:rgb(2, 15, 202); animation-timing-function: linear; margin-bottom: 2px; animation-delay: -1s;}
#ease-in-reverse { background-color:rgb(0, 0, 0); animation-timing-function: ease-in; margin-bottom: 2px; animation-delay: -0.5s;}
#ease-out-reverse {background-color:rgb(255, 255, 255); animation-timing-function: ease-out; animation-delay: 0s;}


@keyframes rect-anim {
    0% {-webkit-transform: translateX(0);
        transform: translateX(0) rotateX(0);
        }
     
    100% {-webkit-transform: translateX(200px);
        transform: translateX(200px) rotateX(-180deg)}
}


@keyframes text-pop-up {
  0% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
    -webkit-transform-origin: 50% 50%;
            transform-origin: 50% 50%;
    text-shadow: none;
  }
  100% {
    -webkit-transform: translateY(-50px);
            transform: translateY(-50px);
    -webkit-transform-origin: 50% 50%;
            transform-origin: 50% 50%;
  }
}

@keyframes heading-flicker-glow {
    0% {
      opacity: 1;
      font-size: 65px
     
    }
    13.9% {
      opacity: 1;
      
 
    }
    14% {
      opacity: 0;
      
    }
    14.9% {
      opacity: 0;
      
    }
    15% {
      opacity: 1;
      
    }
    22.9% {
      opacity: 1;
  
    }
    23% {
      opacity: 0;
      
    }
    24.9% {
      opacity: 0;
      
    }
    25% {
      opacity: 1;
      
    }
    34.9% {
      opacity: 1;
     
    }
    35% {
      opacity: 0;
     
    }
    39.9% {
      opacity: 0;
      
    }
    40% {
      opacity: 1;
      
    }
    42.9% {
      opacity: 1;
     
    }
    43% {
      opacity: 0;
     
    }
    44.9% {
      opacity: 0;
      
    }
    45% {
      opacity: 1;
      
      
    }
    50% {
      opacity: 1;
   
    }
    54.9% {
      opacity: 1;
      
    }
    55% {
      opacity: 0;
      
    }
    57.4% {
      opacity: 0;
    
    }
    59.5% {
      opacity: 1;
      
    }
    69.9% {
      opacity: 1;
      
    }
    70% {
      opacity: 0;
      
    }
    79.4% {
      opacity: 0;
      
    }
    79.9% {
      opacity: 1;
    
    }
    80% {
      opacity: 1;
      
    }
    82.8% {
      opacity: 0;
      
    }
    89.9% {
      opacity: 1;
      
    }
    90% {
      opacity: 1;
    
    }
    100% {
      opacity: 1;
      font-size: 65px;;
    }
}


@keyframes shake-lr {
  0%,
  100% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
    -webkit-transform-origin: 50% 50%;
            transform-origin: 50% 50%;
  }
  10% {
    -webkit-transform: rotate(8deg);
            transform: rotate(8deg);
  }
  20%,
  40%,
  60% {
    -webkit-transform: rotate(-10deg);
            transform: rotate(-10deg);
  }
  30%,
  50%,
  70% {
    -webkit-transform: rotate(10deg);
            transform: rotate(10deg);
  }
  80% {
    -webkit-transform: rotate(-8deg);
            transform: rotate(-8deg);
  }
  90% {
    -webkit-transform: rotate(8deg);
            transform: rotate(8deg);
  }
}

@keyframes bounce-out-left {
  0% {
    -webkit-transform: translateX(0);
            transform: translateX(0);
    -webkit-animation-timing-function: ease-out;
            animation-timing-function: ease-out;
  }
  5% {
    -webkit-transform: translateX(-30px);
            transform: translateX(-30px);
    -webkit-animation-timing-function: ease-in;
            animation-timing-function: ease-in;
  }
  15% {
    -webkit-transform: translateX(0);
            transform: translateX(0);
    -webkit-animation-timing-function: ease-out;
            animation-timing-function: ease-out;
  }
  25% {
    -webkit-transform: translateX(-38px);
            transform: translateX(-38px);
    -webkit-animation-timing-function: ease-in;
            animation-timing-function: ease-in;
  }
  38% {
    -webkit-transform: translateX(0);
            transform: translateX(0);
    -webkit-animation-timing-function: ease-out;
            animation-timing-function: ease-out;
  }
  52% {
    -webkit-transform: translateX(-180px);
            transform: translateX(-180px);
    -webkit-animation-timing-function: ease-in;
            animation-timing-function: ease-in;
  }
  70% {
    -webkit-transform: translateX(0);
            transform: translateX(0);
    -webkit-animation-timing-function: ease-out;
            animation-timing-function: ease-out;
            opacity: 1;
  }
  85% {
    opacity: 0;
  }
  100% {
    -webkit-transform: translateX(1000px);
            transform: translateX(1000px);
    opacity: 0;
  }
}

@keyframes slide-in-left {
  0% {
    -webkit-transform: translateX(-1000px);
            transform: translateX(-1000px);
    opacity: 0;
  }
  100% {
    -webkit-transform: translateX(0);
            transform: translateX(0);
    opacity: 1;
  }
}
  
.main {
    margin-top: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}
.article-1 {
  flex: 1
}
.article-2 {
  flex: 1;
  margin-left: 100px;
}


.container-ball {
  flex: 2;
  margin-left: 150px;
  position: relative;
  transform: translateY(-100px);
  user-select: none;
}
.container-ball::before {
  content: '';
  position: absolute;
  width: 200px;
  height: 200px;
  top: 200px;
  border-radius: 50%;
  background: #fff;
  animation: animate-circle 3s ease-in-out infinite;

}

@keyframes animate-circle {
  0% {
      transform: translateX(20px)
  }
  50% {
      transform:  translateX(-20px)
  }
  100% {
      transform:  translateX(20px)
  }
}

.container-ball .loader-ball{
  position: relative;
  width: 200px;
  height: 200px;
  animation: animate-loader 3s ease-in-out infinite;
}

@keyframes  animate-loader {
  0% {
      transform: rotate(50deg);
 }
 50% {
  transform: rotate(-50deg);
 }
 100% {
  transform: rotate(50deg);
  }
}

.container-ball .loader-ball::before {
  content: '';
  position: absolute;
  bottom: 0;
  width: 200px;
  height: 100px;
  background: rgb(2, 15, 202);
  border-bottom-left-radius: 100px;
  border-bottom-right-radius: 100px;
}

.container-ball .loader-ball .ball{
  position: absolute;
  background: #f80000;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  top:50%;
  left: -15px;
  transform: translateY(-100%);
  animation: animate-ball 3s ease-in-out infinite;
}

@keyframes animate-ball {
  0% {
      transform: translateY(-100%) translateX(-30px)
  }
  50% {
      transform: translateY(-100%) translateX(220px)
  }
  100% {
      transform: translateY(-100%) translateX(-30px)
  }
}
.footer {
  margin-top: 150px;
}

input {
  border-radius: 8px;
  padding: 5px 10px;
}

button {
  border-radius: 8px;
  padding: 5px 10px;
  animation: shake-lr 0.7s 3s cubic-bezier(0.455, 0.030, 0.515, 0.955)  both;
}

  